body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer{background: grey;}

.footer .copy{color: white;
  font-size: 14px;
  padding: 13px 0px;}



  .icn i {margin: 0px 6px; font-size: 12px;}

  .link{padding: 9px 0px; text-align: center;}

  .link a,span{
       font-size: 17px;
    text-decoration: none;
    color: black;
    font-weight: 900;
    }
    .link a:hover{ color: red; }

    .header{margin-bottom: 60px;}

    /* .footer{margin-top: 40px} */


    /* cara styling */

    img{width: 100%; height: 100;}

    .pic{
      width: 100%;
      height: 500px;
    }

    /* NETFLIX COMPONENT STYLING*/
.cliniccard1{ width: 100%!important;
  padding: 38px 34px!important;

}
.cliniccard{margin-top: 90px!important;}


    .cards{
      width: 100%;
      /* height: auto; */
    }

    .card{
      margin: 6%;
      background-color: #fff;
      width: 21.25%;
      border-radius: 12px;
      transition: all 0.4s;
      box-shadow: 0px 13px 10px -7px black;
      float: left;
    }

    .heading{
      padding: 30px 0;
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 2px;
      font-weight:500;
      color: #868686;
      background-color: #fff;
      font-size: 1.5rem;
      margin-bottom: 30px;
    }

    .card_category{
      font-family: "Raleway",sans-serif;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 2px;
      font-weight: 500;
      color: #868686;
      background-color: #fff;
    }
    .card_img{
      width: 100%;
      height: 235px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }

    .card_info{
      background-color: #fff;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      padding: 16px 24px 24px 24px;
      background-color: #fff;
    }
    
    .card:hover{
      box-shadow:0px 30px 18px -8px rgba(0,0,0,0.1);
      transform: scale(1.05,1.05);
    }

    .card_title{
      margin-top: 5px;
      margin-bottom: 10px;
      font-family:"Raleway",sans-serif;
      background-color: #fff;
      text-transform: capitalize;
    }

    button{
      padding: 5px 8px;
      font-family:"Raleway",sans-serif;
      text-transform: uppercase;
      font-size: 13px;
font-weight:500;
color: #868686;
background-color: #fff;
outline: none;
border:1px solid black;
cursor: pointer;
      letter-spacing: 2px;
    }




    /* FORM STYLING */

    #cars{    width: 100%;
      text-align: center;
      letter-spacing: 3px;
      font-weight: bolder;
      border: 2px solid indianred;
      color: black;
      border-radius: 8px;
      outline: none;
      }

      .info{text-align: center;
        background: antiquewhite;
        padding: 76px 16px;}

        .info i{margin: 0px 20px;
          font-size: 35px;
          color: cornflowerblue;}

          .info input{    outline: none;
            border-radius: 10px;
            border: 1px solid green;}


            /* COUNT STYLING */

            .count{
              text-align: center;
              padding: 40px 0px;
    background: cadetblue;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    box-shadow: 4px 5px 11px blue;
    outline: 1px solid red;
            }

          .addcount{font-weight: bold;
              color: greenyellow;}

              .count button{background: blueviolet;
                outline: none;
                font-weight: bolder;
                font-size: 23px;
                color: black;
                border-radius: 15px;}


                /* CARASOUEL */

                .cara  img{
                  height: 80vh;
                }

                /* TODO LIST STYLING */

                .main_div{height: 100vh;
                  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
                  text-align: center;
                padding-top: 100px;}

                  .main_div  .center_div{    margin: auto;
                     height: 70%;
                    width: 35%;
                    background: white;
                    box-shadow: 2px 2px 9px black;}

                    .main_div h1{background: cadetblue;
                      font-weight: bolder;}

                      .main_div input{margin: 15px 6px;
                        border: none;
                        border-bottom: 1px solid green;
                        text-align: center;
                        font-weight: 500;
                        outline: none;}

                        .main_div button{border-radius: 20px;
                          background: cornflowerblue;
                          color: black;
                          font-weight: bolder;
                          font-size: 18px;}

                          .main_div button:hover{background: green;
                            color:white;}

                            .main_div .center_div ol li{list-style: none;
                             
                              margin-right: 65px;
                              font-weight: bolder;
                              text-transform: capitalize;
                              color: blueviolet;}

                              .todo{
                                display: flex;
                                flex-direction:row;
                                justify-content: left;
                                align-items: center;
                              }

                              .todo .fa-times{width:20px;
                              height: 20px;
                            display: flex;
                          justify-content: center;
                        align-items: center;
                      background-color: #8566aa;
                    border-radius: 50%;
                  margin: 0px 15px 0 35px;
                color: aliceblue;
              box-shadow:5px 5px 15px -5px rgba(0,0,0,0.3);}

              .todo .fa-times:hover{color:red;
              background-color: white;}

              /* SEARCH STYLING */

              .search_bar{text-align: center;
                margin-top: 67px;}

                .search_bar input{    outline: none;
                  border: none;
                  border-bottom: 1px solid red;
                  font-weight: 600;}

                  .search_img{    width: 400px;
                    height: 400px;
                    margin: auto;
                    padding-top: 100px;}


                    /* PROJECT STYLING */

                    /* NAV STYLING */

                    .navbar-light .navbar-nav .nav-link {
                      font-weight: 600;
                      color: white!important;
                    }

                    .navbar-light .navbar-nav .nav-link:hover {
                       background-color: white;
                      color: black!important;
                    }

                    .Nav_color{background:#00ADF1!important;}
                    

                    /* CARASOUEL STYLING */

                    .carousel-item{height: 90vh;}

                    .carousel-item::before {
                      content: "";
                      width: 100%;
                      height: 100%;
                      position: absolute;
                      top: 0;
                      right: 0;
                      background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(120,120,120,1) 98%, rgba(255,255,255,1) 100%);
opacity: 0.3;
                  }

                    .carousel-item  img{width: 100%; height: 100%;}

                    /* ICONS STYLING */
                    .whatsapp,.envelope,.phone{
                      display: inline-block;
                      color:  white;
                      position: fixed;
                      z-index: 99;
                      background: #00ADF1;
                      text-align: center;
                      outline: none;
                      opacity: .9;
                      transition: opacity .15s ease;
                    }
                     .whatsapp{
                      font-size: 40px;
                      right: 0;
                      
                      top: 56%;
                      width: 80px;
                      padding-left: 10px;
                      border-radius: 60px 0px 0px 60px;
                     }

                      .envelope{
                        
                        font-size: 40px;
                        right: 0;
                        top: 70%;
                        width: 80px;
                        padding-left: 10px;
                        border-radius: 60px 0px 0px 60px;
                       }

                        .phone{
                          font-size: 37px;
    color: black;
    top: 32rem;
    width: 80px;
    border-radius: 80px 80px 80px 80px;
    margin-left: 15px;
    height: 5rem;
    padding-top: 10px;
                          
                        } 

                        .cardimg{
                          height: 194px;
    outline: 2px solid white;
    box-shadow: 2px 2px 9px black;
                        }

                        .card1{
                          border: none!important;
                          box-shadow: 0px 0px 0px!important;
                          width: 164px!important;
                        }

                        .card button{    width: 100%;
                          margin-top: 15px;
                          color: black;
                          font-weight: 600;
                          background: white;}

                          .card p{font-weight: 400;}
                          .card a{font-weight: bolder;}

                          .card1 .card-body{padding: 0px 0px;  background: #F4F4F4;}

                          /* CLINIC STYLING */

                          .clinic{
                            /* background: #F4F4F4; */
                            padding-top: 160px;
                            padding-left: 150px!important;
                          background-color: #F4F4F4;}

                            .clinic hr{border: 4px solid #19B5F2;
                              border-radius: 20px;
                          width: 230px;}

                          .clinic h1{font-size: 50px;
                            font-weight: bolder;
                            font-family: math;}

                            .clinic .clinicpara{font-weight: 500;
                              color: darkgrey;}

                              .doctor{
                                /* background: #F4F4F4; */
                                padding-top: 160px;
                                padding-left: 60px!important;}
    

                              .doctor hr{border: 4px solid #19B5F2;
                                border-radius: 20px;
                            width: 350px;}
                            .doctor h1{font-size: 50px;
                              font-weight: bolder;
                              font-family: math;}

                              .doctor p{font-weight: 500;
                                color: darkgrey;}

                            .doctor img{height: 260px;
                              width: 79%;
                              margin-left: 25px;
                              box-shadow: 0 0 18px #000;}

                              .achieve{ padding-top: 60px;
                                padding-left: 60px!important;
                              background-color: #F4F4F4;
                              margin-top: 50px;}

                                .achieve h1{    text-align: center;
                                  font-size: 45px;
                                  font-weight: 700;
                                  /* margin: 23px 286px;*/} 

                                  .achieve hr{border: 4px solid #19B5F2;
                                    border-radius: 20px;
                                    width: 400px;
                                    margin: auto;}

                                   .achieve .head1{margin-top: 46px;}

                                      .achieve  .award{display: flex;
                                        justify-content: center;
                                        align-items: flex-start;
                                        height: 230px;}

                                        .achieve .award1{    display: flex;
                                          flex-direction: column;
                                          padding: 0px 40px;
                                          justify-content: center;
                                          align-items: flex-start;}

                                          .achieve .pic img{height: 150px;
                                            width: 120%;
                                            margin: 11px 3px;
                                            box-shadow: 2px 2px 9px grey;}

                                            .award1 h5{padding: 8px 2px;
                                              font-weight: 700;}

                                              .award1 p{color: #868686;}
                                              .award a{font-weight: bolder;}



                                              /* LOCATION STYLING */
                                              .location{display: block;
                                                padding: 60px 0px;}

                                                .location button{position: relative;
                                                  top: 50%;
                                                  left: 42%;
                                                  padding: 20px 15px;
                                                  font-weight: 600;}

                                                  .location button:hover{background-color: lightslategray;}

                                                  /* FOOTER STYLING */

                                                  .footer{background-color: #2B2B2B; padding-top: 80px;}

                                                  .footer h1{color: white; font-weight: 600;
                                                    font-size: 30px;
                                                    margin-bottom: 30px;}

                                                    .footer p{color: darkgrey;}

                                                  